.sg-title {
    font-size: 1.7rem;
    font-weight: 400;
    color: #333;
    margin: 1rem 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.sg-subtitle {
    font-size: 1rem;
    border-bottom: solid 1px #aaa;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
    margin: 2rem 0 .5rem 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.kleurenkader{
    display:flex;
    flex-wrap:wrap;
}

.hoofdkleur{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-primary);
    width: 12rem;
    height: 12rem;
    margin-left:4rem;
    margin-right:4rem;
    margin-top:3rem;
    border: solid black;
}

.lichtevariant{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-secondary);
    width: 12rem;
    height: 12rem;
    margin-left:4rem;
    margin-right:4rem;
    margin-top:3rem;
    border: solid black;
}

.wit{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 12rem;
    height: 12rem;
    margin-left:4rem;
    margin-right:4rem;
    margin-top:3rem;
    border: solid black;
}

.zwart{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,1);
    width: 12rem;
    height: 12rem;
    margin-left:4rem;
    margin-right:4rem;
    margin-top:3rem;
    border: solid black;
}

.middelzwart{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    width: 12rem;
    height: 12rem;
    margin-left:4rem;
    margin-right:4rem;
    margin-top:3rem;
    border: solid black;
}

.lichtzwart{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.5);
    width: 12rem;
    height: 12rem;
    margin-left:4rem;
    margin-right:4rem;
    margin-top:3rem;
    border: solid black;
}

